<div class="dashboard-wrapper">
  <div class="dashboard-header">
    <div
      class="header-top"
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        width: 100%;
      "
    >
      <span
        style="display: flex; align-items: center"
        class="material-symbols-outlined"
        >home</span
      >
      <span
        class="condo-name"
        style="display: flex; align-items: center; margin-top: 20px"
        >AMI APARTAMENTOS</span
      >
      <span
        class="material-symbols-outlined"
        style="display: flex; align-items: center"
        >person</span
      >
    </div>

    <div class="header-actions">
      <div class="action">
        <span class="material-symbols-outlined">event</span>
        <span>RESERVAR</span>
      </div>
      <div style="cursor: pointer; background-color: var(--green-marked); padding: 8px; border-radius: 10px;" (click)="('')" class="action">
        <span class="material-symbols-outlined">payments</span>
        <span>PAGOS</span>
      </div>
      <div class="action">
        <span class="material-symbols-outlined">search</span>
        <span>CONSULTA</span>
      </div>
    </div>
  </div>

  <div class="dashboard-card"></div>
</div>
