/* You can add global styles to this file, and also import other style files */
/* styles.css */
:root {
  --green: #00c853;
  --green-dark: #006400;
  --green-marked: #09A63D;
  --white: #ffffff;
  --gray: #f2f2f2;
  --black: #000000;
  --text-light: #eeeeee;
}
