<div class="dashboard-wrapper">
  <app-phone-app-bar></app-phone-app-bar>

  <div class="dashboard-card">
    <div class="header">
      <h2>Hola, Carlos</h2>
      <span class="residence">A132</span>
    </div>

    <div class="info-box">
      <p class="label">Deuda actual</p>
      <p class="value">Q550.00</p>
    </div>

    <div class="info-box">
      <p class="label">Último pago</p>
      <p class="value">01 Mar, 2025</p>
    </div>

    <div class="info-box">
      <p class="label">Saldo al día</p>
      <p class="value">31 Mar, 2025</p>
    </div>

    <button class="btn-upload">SUBIR PAGO</button>
  </div>
</div>
